h2, .content{
	color: rgba(0,0,0,0.7);
	font-family: cursive;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 2vw;
	letter-spacing: .2rem;
	overflow: hidden;
}

.content span:nth-child(1){
	position: relative;
	animation: animate 2s ;
	animation-fill-mode: backwards;
  animation-iteration-count: 3;
}
.content span:nth-child(2){
	position: relative;
	animation: animate 2s ;
	animation-delay: 0.25s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(3){
	position: relative;
	animation: animate 2s ;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(4){
	position: relative;
	animation: animate 2s ;
	animation-delay: 0.75s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(5){
	position: relative;
	animation: animate 2s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(6){
	position: relative;
	animation: animate 2s ;
	animation-delay: 1.25s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(7){
	position: relative;
	animation: animate 2s ;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
	 animation-iteration-count: 3;
}
.content span:nth-child(8){
	position: relative;
	animation: animate 2s ;
	animation-delay: 1.75s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(9){
	position: relative;
	animation: animate 2s ;
	animation-delay: 2s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
.content span:nth-child(10){
	position: relative;
	animation: animate 2s ;
	animation-delay: 2.25s;
	animation-fill-mode: backwards;
 animation-iteration-count: 3;
}
@keyframes animate{
	0%{bottom: -100px;}
	100%{bottom: 0;}
}

